/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


// Logo
// ----------------------------------------

$logo-width:                  100px;
$logo-height:                 20px;

// Primary Colors
// ----------------------------------------

$primary-color-green:          #37c180;
$green:                        $primary-color-green;

$primary-color-light-blue:     #378dd4;
$l-blue:                       $primary-color-light-blue;

$primary-color-blue:           #24425c;
$d-blue:                       $primary-color-blue;

$primary-color-grey:           #8c939b;
$grey:                         $primary-color-grey;

$primary-color-white:          #fafafa;
$off-white:                    $primary-color-white;

// Secondary Colors
// ----------------------------------------

$bright-blue:                  #4da1f7;
$red:                          #fa1919;
$alt-red:                      #e45253;
$yellow:                       #e4d12e;
$black:                        #000;
$white:                        #fff;

$color-black:               #000;
$color-darkgray:            #444;
$color-gray:                #898989;
$color-silver:              #CCC;
$color-lightgray:           #F8F8F8;
$color-white:               #fff;



// Primary color with light/medium/darker shades
$prim-color:                   darken(#fff, 50%);
$light-prim-color:             lighten($prim-color, 15%);
$medium-prim-color:            darken($prim-color, 10%);
$dark-prim-color:              darken($prim-color, 30%);

$global-text-color:            $medium-prim-color;

// Alpha Channel
$light-black-alpha:            rgba($black, 0.04);



// Element Colors
// ----------------------------------------

$body-background:               $off-white;
$header-link-color:             #5d7589;
$color-link:                    $medium-prim-color;
$color-link-hover:              $dark-prim-color;

// Highlights and Lowlights
// ----------------------------------------
$primary-color-green-light-3: lighten($primary-color-green, 24%);   // #92e0bb
$primary-color-green-light-2: lighten($primary-color-green, 12%);   // #63d29e
$primary-color-green-light-1: lighten($primary-color-green, 6%);    // #4bcc8f

$primary-color-green-dark-1: darken($primary-color-green, 9%);      // #2d9d68
$primary-color-green-dark-2: darken($primary-color-green, 15%);     // #268558
$primary-color-green-dark-3: darken($primary-color-green, 20%);     // #20724b

// Border
// ----------------------------------------

$main-border-color:            #c9d0d3;
$light-border-color:           #cfd3d5;
$main-border-radius:           4px;
$thin-border-stroke:           1px solid;
$mid-border-stroke:            2px solid;

$dark-bg-border-color: #0e1b25;

// Form
// ----------------------------------------

$login-input-width:            350px;
$input-height:                 40px;
$btn-height:                   39px;



// Progress Bar
// ----------------------------------------

$progress-bar-color:            $l-blue;



// Inputs
// ----------------------------------------
$small-input-width:             130px;



// Modals
// ----------------------------------------

$modal-width:                   800px;
$modal-col-width:               358px;
$modal-full-col-width:          100%;

// Nav Colors
$modal-nav-bg-color:            #eeeff0;
$modal-nav-border-color:        #d6d6d6;
$modal-nav-link-color:          #92a0ab;
$modal-nav-link-active-color:   $header-link-color;



// Layout
// ----------------------------------------

// Bourbon Neat Settings
$border-box-sizing: false;

// Helpers
$side-margin:                   20px;
$z-10:                          100;
$z-20:                          200;
$z-30:                          300;
$z-40:                          400;
$z-50:                          500;
$z-60:                          600;
$z-70:                          700;
$z-80:                          800;
$z-90:                          900;
$z-100:                         1000;
$max-z:                         2147483647 - 100;

// Global Values
$modal-container-padding:       20px;
$app-min-width:                 1100px;


// Fonts
// ----------------------------------------

$font-path:                     "../fonts/";
$open-sans:                     "Open Sans", Helvetica, sans-serif;
$awesome:                       FontAwesome;

$font-stack:                    $open-sans;
$weight-light:                  300;
$weight-regular:                400;
$weight-semibold:               600;
$weight-bold:                   700;
$weight-extrabold:              800;


// Paths
// ----------------------------------------

$img-path:                      "../img/";



// Alerts
// ----------------------------------------


// Colors

// Success (Green)
$state-success-text:             #3c763d;
$state-success-bg:               #dff0d8;
$state-success-border:           darken(shade($state-success-bg, 1%), 3%);

// Info (Blue)
$state-info-text:                lighten(#31708f, 5%);
$state-info-bg:                  #d9edf7;
$state-info-border:              darken(shade($state-info-bg, 1%), 5%);

// Warning (Yellow)
$state-warning-text:             #8a6d3b;
$state-warning-bg:               #fcf8e3;
$state-warning-border:           darken(shade($state-warning-bg, 1%), 5%);

// Danger (Red)
$state-danger-text:              #a94442;
$state-danger-bg:                #f2dede;
$state-danger-border:            darken(shade($state-danger-bg, 1%), 3%);

// Transition
$alert-transition: color 300ms ease-in;

// Modal Alerts (styles are inheirted from main alerts)
$modal-alert-fa-size: 12px;
